.toc-container {
    border: 2px solid var(--color-1st, #bc2749);
    width: auto;
    padding: 10px;
    margin-bottom: 1em;
    display: table;
    font-size: 95%;

    &.contracted {
        width: 100%;
    }

    > ul {
        display: none;
        margin-top: 1em;
    }

    p.toc_title {
        text-align: center;
        font-weight: 700;
        margin-bottom: 0 !important;

        a:hover, ul a:hover {
            color: var(--color-1st, #bc2749);
        }

        a:visited, ul a:visited {
            color: var(--color-1st, #bc2749);
        }
    }

    span.toc_toggle {
        font-weight: 400;
        font-size: 90%;
        .d-none {
            display: none;
        }
    }
}
